/*(min-width: 320px) and (max-width: 479px)`,*/
/*mobileTablet: `(min-width: 320px) and (max-width: 768px)`,*/
/*tablet: `(min-width: 426px) and (max-width: 768px)`,*/
/*laptop: `(min-width: 769px) and (max-width: 1444px)`,*/
/*desktop: `(min-width: 1445px)`*/

@media (min-width: 320px) and (max-width: 479px) {
    .container {
        max-width: 100%;
        width: 100%;
        padding: 0 5%;
    }
    .container-center {
        width: 100%;
        max-width: 90%;
    }
    .home_top-wrapper {
        height: auto;
    }
    .home_video {
        height: 100%;
        min-height: 100%;
    }
    .header {
        height: auto;
        padding-top: 10px;
        flex-direction: column;
    }
    .menu_wrapper {
        flex-direction: column;
        margin: 0;
        padding-top: 0;
    }
    .menu_item {
        margin-right: 10px;
        font-size: 12px;
    }
    .home_top_title {
        font-size: 20px;
        line-height: 25px;
        text-align: center;
    }
    .home_top_products {
        margin-top: 30px;
        flex-direction: column;
    }
    .home_top_product-name {
        font-size: 14px;
    }
    .home_top_products-left {
        width: 100%;
        min-width: 100%;
        padding-right: 0;
    }
    .home_top_products-right {
        width: 100%;
        min-width: 100%;
        padding-left: 0;
    }
    .home_top_products-left img,
    .home_top_products-right img {
        width: 100%;
    }
    .product-right_info,
    .product-left_info {
        padding: 0;
    }

    .about-info,
    .contacts-wrapper,
    .feedback-form-box,
    .review-info-wrapper {
        flex-direction: column;
    }
    .img-map {
        width: 100%;
        height: auto;
    }
    .contacts-wrapper-left {
        width: 100%;
    }
    .contacts-wrapper-right {
        width: 100%;
        padding-left: 0;
    }
    .footer-top {
        flex-direction: column;
    }
    .footer_menu_item {
        font-size: 12px;
    }
    .separator-title-text {
        width: 100%;
    }
    .feedback-form-box-left {
        width: 100%
    }
    .feedback-form-box-right {
        width: 100%
    }
}

@media (min-width: 480px) and (max-width: 767px) {
    .container {
        max-width: 100%;
        width: 100%;
        padding: 0 5%;
    }
    .container-center {
        width: 100%;
        max-width: 90%;
    }
    .home_top-wrapper {
        height: auto;
    }
    .home_video {
        height: 100%;
        min-height: 100%;
    }
    .header {
        height: auto;
        padding-top: 10px;
        flex-direction: column;
    }
    .menu_wrapper {
        flex-direction: column;
        margin: 0;
        padding-top: 0;
    }
    .menu_item {
        margin-right: 10px;
        font-size: 12px;
    }
    .home_top_title {
        font-size: 20px;
        line-height: 25px;
        text-align: center;
    }
    .home_top_products {
        margin-top: 30px;
        flex-direction: column;
    }
    .home_top_product-name {
        font-size: 14px;
    }
    .home_top_products-left {
        width: 100%;
        min-width: 100%;
        padding-right: 0;
    }
    .home_top_products-right {
        width: 100%;
        min-width: 100%;
        padding-left: 0;
    }
    .home_top_products-left img,
    .home_top_products-right img {
        width: 100%;
    }
    .product-right_info,
    .product-left_info {
        padding: 0;
    }

    .about-info,
    .contacts-wrapper,
    .feedback-form-box,
    .review-info-wrapper {
        flex-direction: column;
    }
    .img-map {
        width: 100%;
        height: auto;
    }
    .contacts-wrapper-left {
        width: 100%;
    }
    .contacts-wrapper-right {
        width: 100%;
        padding-left: 0;
    }
    .footer-top {
        flex-direction: column;
    }
    .footer_menu_item {
        font-size: 12px;
    }
    .separator-title-text {
        width: 100%;
    }
    .feedback-form-box-left {
        width: 100%
    }
    .feedback-form-box-right {
        width: 100%
    }
}

@media (min-width: 768px) and (max-width: 1365px) {
    .container {
        max-width: 100%;
        padding: 0 5%;
    }
    .container-center {
        max-width: 90%;
    }
    .home_top_title {
        font-size: 35px;
        line-height: 35px;
    }
    .home_top_products {
        margin-top: 50px;
    }
    .home_top_products-left {
        padding-right: 80px;
    }
    .product-left_info {
        padding-left: 35px;
    }
    .home_top_products-right {
        padding-left: 80px;
    }
    .home_top_products-left img,
    .home_top_products-right img {
        width: 100%;
    }
    .separator-arrow {
        height: 60px;
    }
    .img-anchor {
        width: 40px;
    }
    .separator {
        height: 20px;
    }
    .home_top-wrapper {
        height: auto;
    }
    .header {
        padding-top: 20px;
    }
    .home_top_product-name {
        font-size: 18px;
    }
    .img-map {
        width: 100%;
        height: auto;
    }
}

@media (min-width: 1366px) and (max-width: 1600px) {
    .container {
        max-width: 1200px;
    }
    .container-center {
        max-width: 1000px;
    }
    .home_top_title {
        font-size: 50px;
        line-height: 60px;
    }
    .home_top_products {
      margin-top: 50px;
    }
    .home_top_products-left {
        padding-right: 80px;
    }
    .product-left_info {
        padding-left: 35px;
    }
    .home_top_products-right {
        padding-left: 80px;
    }
    .home_top_products-left img,
    .home_top_products-right img {
        width: 100%;
    }
    .separator-arrow {
        height: 60px;
    }
    .img-anchor {
        width: 40px;
    }
    .separator {
        height: 20px;
    }
    .home_top-wrapper {
        height: calc(100vh - 80px);
    }
    .header {
        padding-top: 20px;
    }
    .home_top_product-name {
        font-size: 20px;
    }
    .img-map {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 1600px) {
    .container {
        padding: 0 1em;
    }
}